@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100%;
    width: 100%;
}

.el-popover.el-popper {
    min-width: 0 !important;
    padding: 0 !important;
}
